<% layout('../layout') -%>
<% script('../script/results.js') -%>

<h2>BrandPly Questionnaire results</h2>

<%if (error !=null) { %>
    <p class="bg-warning"><%= error %></p>
<% } %>

<% data.forEach(function(answer) { %>
<div class="answer">
    <span>Reply by <em><%= answer.name %></em> on <%= answer.date %>:</span>
    <div class="well"> 
    
        <dl class="dl-horizontal">
            <dt>Code Quality</dt>
            <dd><%= answer.codeQuality %></dd>

            <dt>Best Developer</dt>
            <dd><%= answer.bestDev %></dd>

            <dt>Suggestions</dt>
            <dd><%= answer.suggestions %></dd>

            <dt>Length of sprint</dt>
            <dd><%= answer.lengthOfSprint %></dd>
        </dl>        
    </div>
</div>
<% }); %>